<div class="component-header-menu-container">
  <div class="" id="messageRow" #message></div>

  <div class="flex-column">
    <div class="component-header-menu-header">
      <h1 class="component-header-menu-title">Spis Przepisów</h1>
      <div class="vertical-hr"></div>
      <div class="component-header-menu-misc-panel">
        <form class="input-group search-bar" (ngSubmit)="searchHandler(f)" #f="ngForm">
          <button type="button" (click)="addFromFridge()" class="btn btn-success" placement="top"  ngbPopover="Dodaj z lodówki!"
                  [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
            <fa-icon class="icon-center" [icon]="['fas', 'plus']"></fa-icon>
          </button>
          <input id="searchRecipe" name="searchRecipe" class="form-control" [(ngModel)]="searchValue" type="text" aria-label="Search input" placeholder="Szukaj...">
          <div class="input-group-append">
            <button type="submit" class="btn btn-info" placement="top"  ngbPopover="Szukaj!"
                    [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
              <fa-icon class="icon-center" [icon]="['fas', 'search']"></fa-icon>
            </button>
            <button type="button" (click)="explicitSearchHandler(f)" class="btn btn-warning" placement="right"  ngbPopover="Szukaj dokładnie!"
                    [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
              <fa-icon class="icon-center" [icon]="['fas', 'search-plus']"></fa-icon>
            </button>
          </div>
        </form>
      </div>
    </div>
    <hr>
  </div>

  <div class="card-container" *ngIf="this.currentPageRecipes !== null">
    <div class="card card-panel" *ngFor="let recipe of currentPageRecipes; let i = index" (click)="previewHandler(i)">
      <img src="{{recipe.image}}" class="card-img-top card-image" alt="Delicious meal">
      <div class="card-body">
        <h2 class="card-title" #recipeName [ngClass]="getOverflowClass(recipeName)">{{recipe.name}}</h2>
      </div>
    </div>
  </div>

  <footer class="recipes-footer" *ngIf="this.currentPageRecipes !== null">
    <button *ngIf="appService.currentRecipesPage > 0" type="button" class="btn btn-primary" (click)="previousPage()">
      <fa-icon class="icon-left" [icon]="['fas', 'chevron-left']"></fa-icon>
      <span>Poprzednia strona</span>
    </button>
    <button *ngIf="appService.currentRecipesPage < appService.recipeListChunked.length - 1" type="button" class="btn btn-primary" (click)="nextPage()">
      <span>Następna strona</span>
      <fa-icon class="icon-right" [icon]="['fas', 'chevron-right']"></fa-icon>
    </button>
  </footer>

  <div *ngIf="appService.recipeList.length === 0">
    <p>Brak przepisów!</p>
  </div>
</div>
