<div class="card login">
  <div class="card-body login-container ">
    <img class="login-image" src="../../assets/burger.png" alt="Burger"/>
    <form class="login-form">
      <h1 class="">Logowanie</h1>
      <label for="loginInput" class="sr-only">Login</label>
      <input type="text" id="loginInput" class="form-control" placeholder="Login" required="" autofocus="" #loginInput>
      <label for="passwordInput" class="sr-only">Hasło</label>
      <input type="password" id="passwordInput" class="form-control" placeholder="Hasło" required="" #passwordInput>
      <button class="btn btn-success login-button" id="loginButton" type="submit" (click)="doLogin()">
        <span>Zaloguj się</span>
        <fa-icon class="icon-right" [icon]="['fas', 'sign-in-alt']"></fa-icon>
      </button>
      <button class="btn btn-primary register-button" id="registerButton" type="button" routerLink="../register-page">
        <span>Rejestracja</span>
        <fa-icon class="icon-right" [icon]="['far', 'id-card']"></fa-icon>
      </button>
    </form>
    <div class="" id="messageRow" #message></div>
  </div>
</div>
