<div class="card login">
  <div class="card-body login-container ">
    <img class="login-image" src="../../assets/burger.png" alt="Burger"/>
    <form class="login-form">
      <h1 class="">Rejestracja</h1>
      <label for="loginInput" class="sr-only">Login</label>
      <input type="text" id="loginInput" class="form-control" placeholder="Login" required="" autofocus="" #loginInput>
      <label for="passwordInput" class="sr-only">Hasło</label>
      <input type="password" id="passwordInput" class="form-control" placeholder="Hasło" required="" #passwordInput>
      <label for="repeatPasswordInput" class="sr-only">Powtórz hasło</label>
      <input type="password" id="repeatPasswordInput" class="form-control" placeholder="Powtórz hasło" required="" #repeatPasswordInput>
      <button class="btn btn-primary register-button" id="registerButton" type="submit" (click)="doRegister()">
        <span>Zarejestruj się</span>
        <fa-icon class="icon-right" [icon]="['fas', 'user-check']"></fa-icon>
      </button>
      <button class="btn btn-success login-button" id="loginButton" type="button" routerLink="../login-page">
        <span>Logowanie</span>
        <fa-icon class="icon-right" [icon]="['fas', 'reply']"></fa-icon>
      </button>
    </form>
    <div class="" id="messageRow" #message></div>
  </div>
</div>
