<div class="component-header-menu-container">
  <div class="" id="messageRow" #message></div>

  <div class="flex-column">
    <div class="component-header-menu-header">
      <h1 class="component-header-menu-title">Lista zakupów</h1>
      <div class="vertical-hr"></div>
      <div class="component-header-menu-misc-panel">
        <form class="add-new-product" (ngSubmit)="addHandler(f)" #f="ngForm">
          <input required id="name" name="name" class="form-control" ngModel type="text" placeholder="Nazwa" #name aria-label="Nazwa">
          <input required id="amount" name="amount" class="form-control" ngModel type="text" placeholder="Ilość" #amount aria-label="Ilość">
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">
            <fa-icon class="icon-left" [icon]="['fas', 'plus']"></fa-icon>
            <span>Dodaj produkt</span>
          </button>
        </form>
        <div class="component-header-menu-misc-buttons-panel">
          <button type="button" class="btn btn-danger" (click)="generatePDF()" placement="right"
                  ngbPopover="Eksportuj do PDF!" [openDelay]="300" [closeDelay]="500"
                  triggers="mouseenter:mouseleave">
            <fa-icon class="icon-center" [icon]="['far', 'file-pdf']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="ingredients-panel">
    <ul class="list-group list-group-flush" *ngFor="let item of shoppingListItems; let i = index">
      <li class="d-flex justify-content-around list-group-item">
        <span class="ingredient-index">{{i+1}}.</span>
        <span class="ingredient-name">{{item.name}}</span>
        <span class="ingredient-quantity">{{item.amount}}</span>
        <button type="button" class="btn btn-outline-info" (click)="editHandler(i, shoppingListEdit)" placement="left"
                ngbPopover="Kliknij aby edytować produkt!" [openDelay]="300" [closeDelay]="500"
                triggers="mouseenter:mouseleave">
          <fa-icon class="icon-center" [icon]="['fas', 'edit']"></fa-icon>
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteHandler(i)" placement="right"
                ngbPopover="Kliknij aby usunąć produkt!" [openDelay]="300" [closeDelay]="500"
                triggers="mouseenter:mouseleave">
          <fa-icon class="icon-center" [icon]="['fas', 'eraser']"></fa-icon>
        </button>
      </li>
    </ul>
  </div>
</div>

<ng-template #shoppingListEdit let-modal>
  <app-shopping-list-edit></app-shopping-list-edit>
</ng-template>
