<div class="mt-5 mb-3 col-xl-9 col-8 m-auto alert" id="messageRow" #message></div>
<form (ngSubmit)="addHandler(f)" #f="ngForm">
  <div class="form-row p-2">
    <div class="col-4">
      <input required id="name" name="name" class="form-control" ngModel type="text" placeholder="Nazwa" #name>
    </div>
    <div class="col-2">
      <input required id="amount" name="amount" class="form-control" ngModel type="number" placeholder="Ilość" #amount>
    </div>
    <div class="col-2">
      <select required id="amountType" name="amountType" ngModel class="form-control">
        <option value="" selected="selected" hidden="hidden">Miara</option>
        <option value="szt.">szt.</option>
        <option value="g">g</option>
        <option value="ml">ml</option>
      </select>
    </div>
    <div class="col-2">
      <input required id="expirationDate" name="expirationDate" class="form-control" ngModel type="date" placeholder="Data ważności" #expirationDate>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Dodaj</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-warning" (click)="deleteExpiredHandler()" >Usuń przeterminowane</button>
    </div>
  </div>
</form>

<div *ngIf="this.fridgeItems.length !== 0">
  <div *ngFor="let fridgeItem of appService.userData.fridgeItems; let i = index">
    <div class="d-flex border border-secondary rounded m-2" [ngClass]="getItemClass(i)">
      <div class="d-flex mr-auto p-2 align-items-center">
        <p class="mb-0 ml-3">{{fridgeItem.name}} ({{fridgeItem.amount}}), Data ważności: {{fridgeItem.expirationDate.toLocaleDateString()}}</p>
      </div>
      <div class="p-2">
        <button type="button" class="btn btn-danger" (click)="deleteHandler(i)">X</button>
        <button type="button" class="btn btn-primary" (click)="editHandler(i)">Edit</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="this.fridgeItems.length === 0">
  <p>Brak produktów w lodówce!</p>
</div>
