<div class="component-header-menu-container">
  <div class="" id="messageRow" #message></div>

  <div class="flex-column">
    <div class="component-header-menu-header">
      <h1 class="component-header-menu-title">Lodówka</h1>
      <div class="vertical-hr"></div>
      <div class="component-header-menu-misc-panel">
        <form class="add-new-product" (ngSubmit)="addHandler(f)" #f="ngForm">
          <input required id="name" name="name" class="form-control" ngModel type="text" placeholder="Nazwa" #name aria-label="Nazwa">
          <input required id="amount" name="amount" class="form-control" ngModel type="number" placeholder="Ilość" #amount aria-label="Ilość">
          <select required id="amountType" name="amountType" ngModel class="form-control">
            <option value="" selected="selected" hidden="hidden">Jednostka</option>
            <option value="szt.">szt.</option>
            <option value="g">g</option>
            <option value="ml">ml</option>
          </select>
          <input required id="expirationDate" name="expirationDate" class="form-control" ngModel type="date" placeholder="Data ważności" #expirationDate aria-label="Data ważności">
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">
            <fa-icon class="icon-left" [icon]="['fas', 'plus']"></fa-icon>
            <span>Dodaj produkt</span>
          </button>
        </form>
        <div class="component-header-menu-misc-buttons-panel">
          <button type="button" class="btn btn-warning" (click)="deleteExpiredHandler()" placement="right"
                  ngbPopover="Wymieć przeterminowane produkty" [openDelay]="300" [closeDelay]="500"
                  triggers="mouseenter:mouseleave">
            <fa-icon class="icon-center" [icon]="['fas', 'broom']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="products-panel" *ngIf="this.fridgeItems.length !== 0">
    <div class="product-body" *ngFor="let fridgeItem of appService.userData.fridgeItems; let i = index">
      <div class="input-group">
        <div class="input-group-prepend product-index">
          <span class="input-group-text">{{i+1}}.</span>
        </div>
        <input disabled class="form-control product-name" [ngClass]="getItemClass(i)" [value]="fridgeItem.name" type="text" aria-label="Nazwa produktu">
        <input disabled class="form-control product-quantity" [ngClass]="getItemClass(i)" [value]="fridgeItem.amount" type="text" aria-label="Liczność produktu">
        <span class=" input-group-append input-group-prepend input-group-text product-expiration-date-label">Data ważności:</span>
        <input disabled class="form-control product-expiration-date" [ngClass]="getItemClass(i)" [value]="fridgeItem.expirationDate.toLocaleDateString()" type="text" aria-label="Data ważności">
        <div class="input-group-append option-buttons">
          <button type="button" class="btn btn-info" (click)="editHandler(i, fridgeEdit)" placement="left"
                  ngbPopover="Edytuj produkt" [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
            <fa-icon class="icon-center" [icon]="['fas', 'edit']"></fa-icon>
          </button>
          <button type="button" class="btn btn-danger" (click)="deleteHandler(i)" placement="right"
                  ngbPopover="Wyrzucić produkt do kosza" [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
            <fa-icon class="icon-center" [icon]="['fas', 'trash']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.fridgeItems.length === 0">
  <p>Brak produktów w lodówce!</p>
</div>

<ng-template #fridgeEdit let-modal>
  <app-fridge-edit></app-fridge-edit>
</ng-template>
