//colors
$black: #000;
$white: #fff;
$gray-light: #d2dae2;
$gray: #6c757d;
$gray-dark: #343a40;
$blue: #17a2b8;
$green-light: rgb(140, 207, 74);
$green: #55bd32;
$green-dark: rgb(37, 141, 37);
$yellow-light: rgb(251, 206, 80);
$yellow: #fbc531;
$yellow-dark: #ffa801;
$red: rgba(234, 32, 39, .9);
