//colors
$black: #000;
$white: #fff;
$gray-light: #d2dae2;
$gray: #6c757d;
$gray-dark: #343a40;
$blue: #17a2b8;
$green-light: rgb(140, 207, 74);
//$green-light: rgb(67,246,174);
$green: #55bd32;
//$green: rgb(38,225,150);
$green-dark: rgb(37, 141, 37);
//$green-dark: rgb(44,193,133);
$yellow-light: rgb(251, 206, 80);
$yellow: #fbc531;
$yellow-dark: #ffa801;
$red: rgba(234, 32, 39, .9);
//$orange: rgba(250, 152, 58, .9);
//$yellow: rgba(255, 195, 18, .9);
//$green-light: rgba(196, 229, 56, .9);
//$green: rgba(163, 203, 56, .9);
//$blue-light: rgba(18, 203, 196, .9);
//$blue: rgba(18, 137, 167, .9);
//$violet: rgba(87, 88, 187, .9);
//$purple: rgba(153, 128, 250, .9);
//$magenta: rgba(111, 30, 81, .9);
