<div *ngIf="this.favouriteRecipes.length !== 0">
  <div *ngFor="let favouriteRecipe of appService.userData.favouriteRecipes; let i = index">
    <div class="d-flex border border-secondary rounded m-2 bg-light">
      <div class="d-flex mr-auto p-2 align-items-center">
        <p class="mb-0 ml-3">{{favouriteRecipe.name}}</p>
      </div>
      <div class="p-2">
        <button type="button" class="btn btn-primary" (click)="previewHandler(i)">Widok</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="this.favouriteRecipes.length === 0">
  <p>Brak ulubionych przepisów!</p>
</div>
