<div class="mt-5 mb-3 col-xl-9 col-8 m-auto alert" id="messageRow" #message></div>
<form (ngSubmit)="editHandler(f)" #f="ngForm">
  <div class="form-row p-2 col-7">
    <input required id="name" name="name" class="form-control" [ngModel]="item.name" type="text" placeholder="Nazwa...">
  </div>
  <div class="form-row p-2 col-7">
    <input required id="amount" name="amount" class="form-control" [ngModel]="item.amount" type="text" placeholder="Ilość...">
  </div>
  <div class="col-2">
    <select required id="amountType" name="amountType" [ngModel]="item.amountType" class="form-control">
      <option value="" selected="selected" hidden="hidden">Miara</option>
      <option value="szt.">szt.</option>
      <option value="g">g</option>
      <option value="ml">ml</option>
    </select>
  </div>
  <div class="col-2">
    <input required id="expirationDate" name="expirationDate" class="form-control" [ngModel]="item.expirationDate | date:'yyyy-MM-dd'" type="date" placeholder="Data ważności" #expirationDate>
  </div>

  <div class="form-row p-2 col-7">
    <div class="col-2">
      <button type="submit" [innerText]="'Edytuj'" [disabled]="!f.valid" class="btn btn-primary"></button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" routerLink="../fridge">Powrót</button>
    </div>
  </div>
</form>
