<div class="modal-header">
  <h2 class="modal-title">Edycja Produktu</h2>
  <button class="button-close-modal" (click)="closeHandler()" type="button" placement="left"
          ngbPopover="Zamknij kartę bez zapisywania zmian!" [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
    <fa-icon class="cross-button" [icon]="['fas', 'times']"></fa-icon>
  </button>
</div>

<div class="modal-body">
  <div class="" id="messageRow" #message></div>

  <form #f="ngForm">
    <div class="flex-column edit-product-panel">
      <div class="form-group">
        <label for="name">Nazwa produktu: </label>
        <input required id="name" name="name" class="form-control" [ngModel]="item.name" type="text" placeholder="np. Mleko">
      </div>
      <div class="form-group">
        <label for="amount">Ilość: </label>
        <input required id="amount" name="amount" class="form-control" [ngModel]="item.amount" type="text" placeholder="np. 2">
      </div>
      <div class="form-group">
        <label for="amountType">Typ: </label>
        <select required id="amountType" name="amountType" [ngModel]="item.amountType" class="form-control">
          <option value="" selected="selected" hidden="hidden">Miara</option>
          <option value="szt.">szt.</option>
          <option value="g">g</option>
          <option value="ml">ml</option>
        </select>
      </div>
      <div class="form-group">
        <label for="expirationDate">Data przydatności: </label>
        <input required id="expirationDate" name="expirationDate" class="form-control" [ngModel]="item.expirationDate | date:'yyyy-MM-dd'" type="date" placeholder="Data ważności" #expirationDate>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer d-flex justify-content-center">
  <button type="button" class="btn btn-outline-success modal-footer-button" (click)="closeHandler()"
          placement="top" ngbPopover="Wróć do listy zakupów bez zapisywania zmian"
          [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
    <span>Powrót</span>
    <fa-icon class="icon-right" [icon]="['fas', 'times']"></fa-icon>
  </button>
  <button type="submit" [disabled]="!f.valid" class="btn btn-outline-success modal-footer-button"
          placement="top-left" (click)="editHandler(f)" ngbPopover="Zapisz zmiany" [openDelay]="300" [closeDelay]="500"
          triggers="mouseenter:mouseleave">
    <span>Zapisz</span>
    <fa-icon class="icon-right" [icon]="['fas', 'check']"></fa-icon>
  </button>
</div>
